<a href="https://colab.research.google.com/github/jamesniyongira/jamesniyongira/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#printing Helloworld
print("Hello world")
#Addition of numbers 
5+5

Hello world

10

In [12]:
name=("james")
print(name)

james

In [1]:
fruit1,fruit2,fruit3="orange","banana","cherry"
print(fruit1)
print(fruit2)
print(fruit3)
x=3
y=4
z=5
m=5
print(z!=m)
print(y**3)
print(z>=m)
print(z<=y)
print(x==z)

orange
banana
cherry
False
64
True
False
False

In [26]:
countries=["Rwanda","Uganda","Tanzania","Kenya"]
'Rwanda'>'Uganda'

False

In [58]:
list1=["student","Teachers","Employers","Employees"]
print(list1[2])
print(list1[-1])
print(list1[0:3])
print(len(list1))
print(list1[-1])
list1.remove('Teachers')
print(list1)
list1.insert(1,"Human Resource")
print(list1)
list1.append("Security officer")
print(list1)
thistuple=["student","Teachers","Employers","Employees"]
print(thistuple)

Employers
Employees
['student', 'Teachers', 'Employers']
4
Employees
['student', 'Employers', 'Employees']
['student', 'Human Resource', 'Employers', 'Employees']
['student', 'Human Resource', 'Employers', 'Employees', 'Security officer']
['student', 'Teachers', 'Employers', 'Employees']

In [60]:
thisset={"apple","banana","chery"}
print(thisset)
thisset.add("orange")
print(thisset)

{'chery', 'banana', 'apple'}
{'orange', 'chery', 'banana', 'apple'}

In [61]:
thisdictionary={"name":"James","id":"123","country":"Rwanda"}
print(thisdictionary)

{'name': 'James', 'id': '123', 'country': 'Rwanda'}